<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
        <style>
            .table-container .custom-table {
                background-color: #ccd7c3;
            }

            .jumbotron {
              background-color: #FFFFFF
            }
    
            .navbar-divider {
                border: none;
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                margin: 0.5rem 0;
            }

            nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            }

            nav ul li {
            display: inline;
            }

            nav ul li a {
            padding: 10px;
            text-decoration: none;
            color: #fff;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <ul>
                <li><a class="navbar-brand" href="/">Food inspections and violations in Maryland</a></li>
                <li class="nav-item"><a class="navbar-brand" href="/about">About</a></li>
                <li class="nav-item"><a class="navbar-brand" href="/timeline">Food inspections over time</a></li>
                <li class="nav-item"><a class="navbar-brand" href="/data">Download the data</a></li>
            </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            </nav>
        <div class="jumbotron">
            <div class="container">
                <h1>Establishment {{ establishment_id }} - {{ name }}</h1>
                <p>
                  This establishment has had {{ num_inspections }} reported inspections since 2016, of which
                  {% if num_critical_violations > 0 %}
                    {{ num_critical_violations }} resulted in critical violations,
                  {% else %}
                    0 resulted in critical violations,
                  {% endif %}
                  {% if num_closed > 0 %}
                    {{ num_closed }} resulted in facility closure,
                  {% else %}
                    0 resulted in facility closure,
                  {% endif %}
                  {% if num_reopened > 0 %}
                    {{ num_reopened }} resulted in facility reopening,
                  {% else %}
                    0 resulted in facility reopening,
                  {% endif %}
                  {% if num_non_compliant > 0 %}
                    {{ num_non_compliant }} resulted in non-compliant violations,
                  {% else %}
                    0 resulted in non-compliant violations,
                  {% endif %}
                  {% if num_compliant_health_risk > 0 %}
                    {{ num_compliant_health_risk }} had compliant results with health risk,
                  {% else %}
                    0 had compliant results with health risk,
                  {% endif %}
                  {% if num_compliant > 0 %}
                    {{ num_compliant }} had compliant results,
                  {% else %}
                    0 had compliant results,
                  {% endif %}
                  {% if num_no_critical_violations > 0 %}
                    {{ num_no_critical_violations }} had no critical violations observed,
                  {% else %}
                    0 had no critical violations observed,
                  {% endif %}
                  {% if num_completed > 0 %}
                    {{ num_completed }} were marked as completed inspections,
                  {% else %}
                    0 were marked as completed inspections and
                  {% endif %}
                  {% if num_outstanding > 0 %}
                    {{ num_outstanding }} had outstanding results.
                  {% else %}
                    0 had outstanding results.
                  {% endif %}
                  {% if null_results > 0 %}
                    There were {{ null_results }} inspections with no documented results.
                  {% else %}
                    There were 0 inspections with no documented results.
                  {% endif %}
                </p>                                
            </div>
        </div>
        <div class="table-container">
            <table class="table custom-table">
                <thead>
                    <tr>
                        <th class="text-wrap">Name</th>
                        <th class="text-wrap">Category</th>
                        <th class="text-wrap">Inspection Date</th>
                        <th class="text-wrap">Inspection Results</th>
                        <th class="text-wrap">Zip</th>
                        <th class="text-wrap">Address</th>
                        <th class="text-wrap">Owner</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>




