<!-- about.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
    
    .navbar-divider {
        border: none;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin: 0.5rem 0;
    }

    nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    }

    nav ul li {
    display: inline;
    }

    nav ul li a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    }

</style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul>
            <li><a class="navbar-brand" href="/">Food inspections and violations in Maryland</a></li>
            <li class="nav-item"><a class="navbar-brand" href="/about">About</a></li>
            <li class="nav-item"><a class="navbar-brand" href="/timeline">Food inspections over time</a></li>
            <li class="nav-item"><a class="navbar-brand" href="/data_page">Download the data</a></li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        </nav>

    <canvas id="inspectionChart"></canvas>

    <script>
    const createLineChart = async () => {
            const inspectionData = await fetch('/api/inspections').then(response => response.json());
            const ctx = document.getElementById('inspectionChart').getContext('2d');
      
        new Chart(ctx, {
          type: 'line',
          data: {
            labels: inspectionData.map(item => item.date), // Array of inspection dates
            datasets: [
              {
                label: 'Number of Inspections',
                data: inspectionData.map(item => item.count), // Array of inspection counts
                backgroundColor: 'rgba(0, 123, 255, 0.2)',
                borderColor: 'rgba(0, 123, 255, 1)',
                borderWidth: 1
              }
            ]
          },
          options: {
            responsive: true,
            scales: {
              x: {
                display: true,
                title: {
                  display: true,
                  text: 'Date'
                }
              },
              y: {
                display: true,
                title: {
                  display: true,
                  text: 'Number of Inspections'
                }
              }
            }
          }
        });
      };
      
      createLineChart();
    </script>      
</body>
</html>